{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Alvaro Bartolome del Canto">

        <title>{% block title %}TCUE | Platform{% endblock %}</title>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'templates/index.css' %}">

        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <a href="{% url 'index' %}"><img src="{% static 'resources/tcue_es.png'%}" width="500" height="125"></a>
            <br/><br/><br/>
            <p class="lead">
                Plataforma de Visualización y Recomendación de Inversion Bursátil en Acciones del Mercado Continuo Español
            </p>
        </div>

        <div class="pricing-header px-3 py-3 mx-auto text-center">
            <form action="{% url 'overview' %}" method="get">
                <label for="inputEquity" class="sr-only">Nombre Acción Español</label>
                <input type="text" name="equity" class="form-control" placeholder="Introduzca el nombre de una acción española" required autofocus>
                <br/>
                <button class="btn btn-lg btn-primary btn-block">Visualización</button>
                <button class="btn btn-lg btn-success btn-block" formaction="{% url 'recommendation' %}">Visualización y Recomendación</button>
            </form>
            <br/><br/><br/>
            <p class="text-muted text-center">Álvaro Bartolomé del Canto, 2018-2019 @ alvarob96 en GitHub</p>
        </div>

    </body>
</html>
